<ul class="list-group">
    <li class="list-group-item">id: {{users.id}}</li>
    <li class="list-group-item">name: {{users.name}}</li>
    <li class="list-group-item">email: {{users.email}}</li>
    <li class="list-group-item">address:<br>Streat->{{users.address.street}}<br>city->{{users.address.city}}</li>
    <li class="list-group-item">address geo:<br>lat->{{users.address.geo.lat}}<br>lng->{{users.address.geo.lng}}</li>
    <li class="list-group-item">phone: {{users.phone}}</li>
    <li class="list-group-item">website: {{users.website}}</li>
    <li class="list-group-item">company:<br>name->{{users.company.name}}<br>catchPhrase->{{users.company.catchPhrase}}<br>bs->{{users.company.bs}}</li>
</ul>